# Cordova
node_modules/
platforms/
plugins/
simulation/

# IDE - VSCode
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
typings/
.cache/
www/css/ilm.css
www/lib/bundle.js
www/lib/bundle.map
www/lib/template.js
