# Cordova
node_modules/
platforms/
plugins/
simulation/

# IDE - VSCode
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
typings/
www/css/ilm.css
