<div class="groupContainer">
    <div class="columnContainer">
        <label class="ORDER">Geben Sie die gewünschte Konfiguration ein</label>
    </div>
    <div class="columnContainer">
        <label>Oxaion Version:</label>
        <select class="backend">
            <option value='open'>Oxaion-Open</option>
            <option value='buisness'>Oxaion-Buisness</option>
        </select>
    </div>
    <div class="columnContainer">
        <label>Host:</label>
        <input class="host" />
    </div>
    <div class="columnContainer">
        <label>Anwendung:</label>
        <input class="application" />
    </div>
    <div class="columnContainer">
        <label>Modul:</label>
        <input class="module" />
    </div>
    <div class="columnContainer">
        <label>Projekte:</label>
        <input class="projects" />
    </div>
    <div class="columnContainer">
        <label>Benutzer:</label>
        <input class="user" />
    </div>
    <div class="columnContainer">
        <label>Passwort:</label>
        <input class="password" type="password" />
    </div>
    <div class="columnContainer">
        <label>Größenformat:</label>
        <input class="formatSize" />
    </div>
    <div class="columnContainer">
        <label>Firma:</label>
        <input class="company" />
    </div>
    <div class="columnContainer">
        <label>Thema:</label>
        <select class="theme">
            <option value='dark'>dark</option>
            <option value='light'>light</option>
        </select>
    </div>
    <div class="columnContainer">
        <label>Scan per Kamera:</label>
        <select class="scanner">
            <option value='An'>An</option>
            <option value='Aus'>Aus</option>
        </select>
    </div>
    <div class="columnContainer">
        <button class="button" onclick="saveConfig()">Speichern</button>
    </div>
</div>