{# Copied from output of login xml #}
<div class="groupContainer lower">
    <div class="columnContainer quantity-1 ORDER">
        <label class="element ORDER order-1">Die letzten Interaktion mit dem Server konnte nicht vollendet werden oder der Server ist noch beschäftigt mit der letzten Anfrage. Sie können weiter klicken, um den aktuellen Zustand des Servers anzufragen.</label>
    </div>
</div>
<div class="groupContainer buttonContainer quantity-1">
    <button class="button ENTER" tabindex="-1" onclick="handleTCP('getTopFormat')">>Ok</button>
</div>