<div class="tableContainer">
    <div class="selectTools">
        <button class="button editButton" onclick="toggleSelectMode()"></button>
        <button class="button deselectButton" onclick="deselectAll()"></button>
        <button class="button selectButton" onclick="selectAll()"></button>
    </div>
</div>