@font-face {
    font-family: 'Roboto';
    src: url('roboto-black-webfont.woff2') format('woff2'), url('roboto-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto-blackitalic-webfont.woff2') format('woff2'), url('roboto-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto-bold-webfont.woff2') format('woff2'), url('roboto-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto-bolditalic-webfont.woff2') format('woff2'), url('roboto-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto-italic-webfont.woff2') format('woff2'), url('roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
