.button {
    margin: 0.2em;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid #009edf;
}

    .inputContainer select {
        border-left: none;
        height: auto;
        width: auto;
    }

    .inputContainer input {
        flex: 1;
        border: none;
        margin: 0.2em;
        padding: 0.2em;
    }

    .inputContainer button {
        padding: 0.1em 0.4em;
    }

.gridContainer {
    clear: both;
    padding: 0.3em;
    border: 2px solid #009edf;
}

    .gridContainer .table {
        max-height: 40vh;
        overflow-y: scroll;
    }

        .gridContainer .rowContainer .row {
            display: grid;
            margin: 0.3em;
            border: 1px solid #009edf;
        }

        .gridContainer .rowContainer .row.selected {
            background-color: lightblue;
        }


.editButton {
    display: none;
}

.selectable .editButton {
    display: initial;
}

.selectButton {
    display: none;
}

.selectMode .selectButton {
    display: initial;
}

.functionContainer {
    display: none;
}

.selectMode .functionContainer {
    display: initial;
}
