/* Lokale Anpassungen MS*/
.AppHeaderGroup {
    display: none;
}

div[class*=" pos"] {
    min-height: 1px;
}

/*-----------------------------------*/

.columnContainer.settingsContainer {
    margin-left: 0;
}

.columnContainer {overflow: hidden;}
.HIDDEN {display: none;}

.onlineState {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 1);
    box-shadow: -1px -1px 0px 1px rgba(0, 0, 0, 0.5), 1px 1px 0px 1px rgba(255, 255, 255, 0.4);
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

    .onlineState[state="online"] {
        background: #83cc53; /* Old browsers */
        background: -moz-linear-gradient(top, #83cc53 1%, #39ba25 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #83cc53 1%,#39ba25 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #83cc53 1%,#39ba25 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83cc53', endColorstr='#39ba25',GradientType=0 ); /* IE6-9 */
    }

.shine {
    float: right;
    height: 15px;
    width: 17px;
    position: fixed;
    z-index: 999;
    right: 0.9em;
    top: 0.8em;
    background-color: rgba(255,255,255,0.1);
    border-radius: 70px;
}



.backButtonsvg .rect1 {
    transform: translate(5px,5px) rotate(45deg) scaleX(0.7);
    transition: 1s;
    transform-origin: 15px 5px;
}

.menuButtonsvg .rect1 {


    transform: translate(0px,0px) rotate(-0deg) scaleX(1);
    transition: 1s;
    transform-origin: 15px 5px;
}

.menuButtonsvg .rect2 {
    opacity: 1;
    transition: 1s;
}
.backButtonsvg .rect2 {
   opacity: 0;
   transition: 1s;
}

.backButtonsvg .rect3 {
    transform: translate(2px, 0px) rotate(-45deg) scaleX(0.7);
    transition: 1s;
    transform-origin: 15px 15px;
}
.menuButtonsvg .rect3 {
    transform: translate(0px, 0px) rotate(0deg) scaleX(1);
    transition: 1s;
    transform-origin: 15px 15px;
}

.backButtonsvg {
     transform: rotate(180deg); 
    transform-origin: 13px 12px;
    transition: 1s;
}

.menuButtonsvg {
    transform: rotate(0deg);
    transform-origin: 13px 12px;
    transition: 1s;
}

.userenvironment > li {
    font-size: 12px;
    width: 100%;
    display: inline-block;
}

.list.userenvironment > li > span {
    text-align: right;
    float: right;
    padding: 0;
    width: 53%;
    word-wrap: break-word;
}

.Textboxcontainer {float: left;}
.Textboxlabel {display: block;}




/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float:right;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch span {
    padding: 17px;
}





.datarow .item {
    float: left;
}


.datarow {
    border-bottom: 1px dotted gray;
}
/*------------------------------*/
/* MSK_CONTACT_V10  GRID/DETAIL         */
/*--------------------------------------*/
.Layout.CONTACT_V10_SUBGRID .CardGridHeader {
    padding-left: 4em;
}

.CONTACT_V10 .carditem {
    padding-left: 4em;
}

.CONTACT_V10 .pos3 {
    display: none;
    width: 3em;
    height: 3em;
    margin-left: -4em;
}

.CONTACT_V10 .pos0 {
    width: 40%;
    font-weight: bold
}

.CONTACT_V10 .pos2 {
    width: 12%;
}

.CONTACT_V10 .pos4 {
    width: 12%;
}

.CONTACT_V10 .pos5 {
    width: 9em;
}

.CONTACT_V10 .pos7 {
    width: 9em;
    display: none;
}

.CONTACT_V10 .pos1 {
    float: right;
    width: auto;
    font-size: 1.8em;
    font-weight: bold;
}

.CONTACT_V10 .pos6 {
    width: 90%;
}


.PROJEKT_V01 .pos4 {
    width: 7.5em;
    margin-right: 0.5em;
}

.PROJEKT_V01 .pos7 {
    width: 30%;
    font-weight: bold
}

.PROJEKT_V01 .pos0 {
    width: 10%;
}

.PROJEKT_V01 .pos1 {
    width: 10%;
}

.PROJEKT_V01 .pos7 {
    width: 10%;
}

.PROJEKT_V01 .pos3 {
    width: 12%;
    text-align: right;
}

.PROJEKT_V01 .pos2 {
    float: right;
    width: auto;
    margin-right: 0%;
}

.PROJEKT_V01 .pos6 {
    width: 90%;
    margin-left: 8em;
}

.Group {
    padding: 1em;
    margin: 5px;
}

.Textboxlabel {
    width: 100%;
    padding-left: 5px;
    color: #6f8295;
    font-size: 0.8em;
    text-align: left;
    float: left;
}

.caption {
    width: 100%;
    font-size: 1.2em;
    font-weight: 700;
    padding: 1em;
    float: left;
    color: gray;
}

.Textbox {
    padding-left: 4px;
}

    .Textbox > input {
        padding: 1em;
        border-bottom: 1px dotted lightgray;
        width: 100%;
        margin-bottom: 5px;
    }


.RELATION_V03 .pos0 {
    width: 10%;
}

.RELATION_V03 .pos1 {
    width: 10%;
}

.RELATION_V03 .pos2 {
    width: 10%;
}

.RELATION_V03 .pos3 {
    width: 12%;
    text-align: right;
}



/*----------------------------------------------------------------------------------------------------------------------*/
/* Masken                                                                                                               */
/*----------------------------------------------------------------------------------------------------------------------*/

/* Grids */
.Layout.MSK_TOURKOPF_V01_GRID,
.Layout.MSK_BESUCHSBERICHTSKOPF_V01_GRID,
.Layout.MSK_PROJEKT_V01_GRID,
.Layout.MSK_ARBEITSVORRAT {
    padding-top: 1.2em;
}

/* Details */
.Layout.MSK_CONTACT_V10_DETAIL,
.Layout.MSK_TERMIN_DETAIL,
.Layout.AKTION_V21_SUBDETAIL,
.Layout.AKTION_V21E_SUBDETAIL,
.Layout.AKTION_V31E_SUBDETAIL,
.Layout.AKTION_V31_SUBDETAIL {
    background-color: #f4f4f4;
    min-height: calc(100vh - 3.5em);
}

/* Karte */
.osm {
    width: 100%;
    height: 20em;
}

    .osm.leaflet-container.leaflet-fade-anim {
        height: 40em;
        width: 100%;
    }

/*--------------------------------------*/
/* MSK_TOURKOPF_V01_DETAIL              */
/*--------------------------------------*/
.Layout.MSK_TOURKOPF_V01_DETAIL {
    background-color: #f4f4f4;
}

    .Layout.MSK_TOURKOPF_V01_DETAIL .GruppeInhalt {
        background-color: #f4f4f4;
        max-width: 1400px;
        margin: auto;
        float: none;
    }

    .Layout.MSK_TOURKOPF_V01_DETAIL .GruppeDetail {
        width: 100%;
    }

        .Layout.MSK_TOURKOPF_V01_DETAIL .GruppeDetail .DateTimeControl.TOKTIMESTART {
            width: 49.7%;
        }

        .Layout.MSK_TOURKOPF_V01_DETAIL .GruppeDetail .DateTimeControl.TOKTIMEENDE {
            width: 49.7%;
            float: right;
            margin-right: 0;
        }

        .Layout.MSK_TOURKOPF_V01_DETAIL .GruppeDetail .DateControlcontainer.TOKZEITRAUMVON {
            width: 49.7%;
        }

        .Layout.MSK_TOURKOPF_V01_DETAIL .GruppeDetail .DateControlcontainer.TOKZEITRAUMBIS {
            width: 49.7%;
            float: right;
            margin-right: 0;
        }

        .Layout.MSK_TOURKOPF_V01_DETAIL .GruppeDetail .width0.CheckBox {
            width: 14.25%;
        }


/* Stationen */
.StyleAKTION_V140 .pos1 {
    width: 35%;
    font-weight: bold;
}

.StyleAKTION_V140 .pos2 {
    width: 35%;
}

.StyleAKTION_V140 .pos4 {
    width: auto;
    margin-left: 3em;
    float: right;
}

.StyleAKTION_V140 .pos5 {
    width: auto;
    float: right;
}

    .StyleAKTION_V140 .pos5.itementry [class*="icon-"].icon-trash {
        color: #db002f;
        font-size: 1.5em;
    }

.StyleAKTION_V140 .pos10 {
    width: 100%;
    color: #6487D1;
}



/*--------------------------------------*/
/* HOME                                 */
/*--------------------------------------*/
.Layout.HOME {
    background-color: white;
    height: calc(100vh - 3.5em);
}

/* StyleHEUTE_V100   */
.cardgrid.StyleHEUTE_V100 {
    width: 45em;
    margin-left: 10%;
    border: 0;
    float: none;
    margin: auto;
}

.Layout.HEUTE_V100_SUBGRID .Gruppe.SubGridHeaderGroup {
    display: none;
}

.StyleHEUTE_V100 .carditem {
    width: 14em;
    height: 6em;
    margin-right: 1em;
    border: 1px solid lightgray;
    background-color: #666;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 1em;
}

    .StyleHEUTE_V100 .carditem.XXTYPK {
        background-color: red;
    }

    .StyleHEUTE_V100 .carditem.XXTYPA {
        background-color: orange;
    }

    .StyleHEUTE_V100 .carditem.XXTYPL {
        background-color: #6487D1;
    }

.StyleHEUTE_V100 .pos1 {
    color: white;
    font-size: 2em;
    width: 100%;
    text-align: center;
}

.StyleHEUTE_V100 .pos2 {
    color: white;
    font-size: 1em;
    width: 100%;
    text-align: center;
}
/* StyleAKTION_V500   Aktivit�ten */
.Layout.AKTION_V500_SUBGRID .cardgroup {
    float: left;
    margin-bottom: 0.5em;
}

.StyleAKTION_V500 .pos1 {
    width: 1em;
    margin-right: 1em;
}

.StyleAKTION_V500 .TXTYPAufgabe .pos2 {
    width: 10em;
}

.StyleAKTION_V500 .TXTYPTermin .pos2 {
    display: none;
}

.StyleAKTION_V500 .TXTYPAufgabe .pos3 {
    display: none;
}

.StyleAKTION_V500 .TXTYPTermin .pos3 {
    width: 10em;
}

.StyleAKTION_V500 .pos4 {
    width: 30%;
    font-weight: bold;
}

.StyleAKTION_V500 .pos5 {
    width: auto;
}

.StyleAKTION_V500 .pos6 {
    width: calc(69% - 13em);
    margin-left: calc(31% + 12em);
}
/* StyleFAVORIT_V500   */
.Layout.FAVORIT_V500_SUBGRID.LAYOUT .cardgridcontainer {
    overflow-x: auto;
    height: 200px;
}

.Layout.FAVORIT_V500_SUBGRID.LAYOUT .cardgrid {
    border: none;
}

.Layout.FAVORIT_V500_SUBGRID.LAYOUT .Gruppe.SubGridHeaderGroup {
    width: 100%;
}

.Layout.FAVORIT_V500_SUBGRID.LAYOUT .cardgroup {
    width: 100%;
}

.Layout.FAVORIT_V500_SUBGRID.LAYOUT .ViewText {
    display: none;
}

.StyleFAVORIT_V500.horizontal .carditem {
    width: 15em;
    height: 9em;
    padding: 1em;
    border: solid 1px lightgray;
    margin-left: 5px;
    margin-bottom: 0;
    background-image: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.StyleFAVORIT_V500.horizontal .pos1 {
    height: 3em;
    width: 3em;
    margin-left: 5em;
}

.StyleFAVORIT_V500.horizontal .pos2 {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
}

.StyleFAVORIT_V500.horizontal .pos3 {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
}

.StyleFAVORIT_V500.horizontal .pos4 {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
}

.StyleFAVORIT_V500.horizontal .pos5 {
    width: auto;
    position: absolute;
    margin: 0;
    top: 1em;
    right: 1em;
}

    .StyleFAVORIT_V500.horizontal .pos5 [class^="icon-"] {
        font-size: 1.2em;
        color: #db002f;
    }

/*--------------------------------------*/
/* MSK_PROJEKT_V01_GRID                 */
/*--------------------------------------*/
.PROJEKT_V01_SUBGRID .cardViewCaption.pos1 {
    width: 7.5em;
    margin-right: 0.5em;
}

.PROJEKT_V01_SUBGRID .cardViewCaption.pos2 {
    width: 30%;
}

.PROJEKT_V01_SUBGRID .cardViewCaption.pos3 {
    width: 10%;
}

.PROJEKT_V01_SUBGRID .cardViewCaption.pos4 {
    width: 10%;
}

.PROJEKT_V01_SUBGRID .cardViewCaption.pos5 {
    width: 10%;
}

.PROJEKT_V01_SUBGRID .cardViewCaption.pos6 {
    width: 12%;
}

    .PROJEKT_V01_SUBGRID .cardViewCaption.pos6 .cardViewCaptionContent {
        float: right;
    }

.PROJEKT_V01_SUBGRID .cardViewCaption.pos7 {
    width: auto;
    float: right;
    margin-right: 0;
}

.PROJEKT_V01_SUBGRID .cardViewCaption.pos20 {
    display: none;
}

.StylePROJEKT_V01 .pos1 {
    width: 7.5em;
    margin-right: 0.5em;
}

.StylePROJEKT_V01 .pos2 {
    width: 20%;
    font-weight: bold
}

.StylePROJEKT_V01 .pos3 {
    width: 15%;
}

.StylePROJEKT_V01 .pos4 {
    width: 15%;
}

.StylePROJEKT_V01 .pos5 {
    width: 15%;
}

.StylePROJEKT_V01 .pos6 {
    width: 12%;
    text-align: right;
}

.StylePROJEKT_V01 .pos7 {
    float: right;
    width: auto;
    margin-right: 0%;
}

.StylePROJEKT_V01 .pos20 {
    width: 90%;
    margin-left: 8em;
}

/*--------------------------------------*/
/* MSK_ARBEITSVORAT                     */
/*--------------------------------------*/
.AKTION_V200_SUBGRID .cardViewCaption.pos1 {
    display: none;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos2 {
    width: 10em;
    margin-right: 0;
    margin-left: 2em;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos3 {
    display: none;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos4 {
    width: 35%;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos5 {
    width: 35%;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos6 {
    width: 10em;
    float: right;
    margin-right: 0;
}

    .AKTION_V200_SUBGRID .cardViewCaption.pos6 .cardViewCaptionContent {
        float: right;
    }

.AKTION_V200_SUBGRID .cardViewCaption.pos7 {
    width: 14em;
    float: right;
    display: none;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos9 {
    display: none;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos20 {
    display: none;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos21 {
    display: none;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos22 {
    display: none;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos30 {
    display: none;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos31 {
    display: none;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos32 {
    display: none;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos33 {
    display: none;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos34 {
    display: none;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos50 {
    display: none;
}

.AKTION_V200_SUBGRID .cardViewCaption.pos999 {
    display: none;
}

.AKTION_V200_SUBGRID .CardGridHeader {
    padding-right: 5em;
}

.StyleAKTION_V200 .carditem {
    padding-bottom: 0.5em;
    padding-right: 5em;
    min-height: 3em;
}

.StyleAKTION_V200 .pos1 {
    width: 1em;
    margin-right: 1em;
}

.StyleAKTION_V200 .XXFARBErot .pos1 [class^="icon-"] {
    color: red;
}

.StyleAKTION_V200 .XXFARBEgelb .pos1 [class^="icon-"] {
    color: orange;
}

.StyleAKTION_V200 .XXFARBEgrun .pos1 [class^="icon-"] {
    color: yellowgreen;
}

.StyleAKTION_V200 .TXTYPAufgabe .pos2 {
    width: 9.5em;
    margin-right: 0.5em;
}

.StyleAKTION_V200 .TXTYPTermin .pos2 {
    display: none;
}

.StyleAKTION_V200 .TXTYPTermin .pos3 {
    width: 9.5em;
    margin-right: 0.5em;
}

.StyleAKTION_V200 .TXTYPAufgabe .pos3 {
    display: none;
}

.StyleAKTION_V200 .pos4 {
    width: 35%;
    font-weight: bold;
}

.StyleAKTION_V200 .pos5 {
    width: 35%;
}

.StyleAKTION_V200 .pos6 {
    width: 10em;
    float: right;
    margin-right: 0;
    text-align: right;
    display: none;
}

.StyleAKTION_V200 .pos7 {
    width: 14em;
    color: #db002f;
    float: right;
    display: none;
}

.StyleAKTION_V200 .pos9 {
    width: 100%;
}

.StyleAKTION_V200 .pos20 {
    width: 35%;
    margin-left: 12em;
}

.StyleAKTION_V200 .pos21 {
    width: 35%;
}

.StyleAKTION_V200 .pos22 {
    width: 60%;
    margin-left: calc(12em + 35.5%);
}

.StyleAKTION_V200 .pos30 {
    position: absolute;
    width: auto;
    top: 0.5em;
    right: 0;
}

    .StyleAKTION_V200 .pos30 [class^="icon-"] {
        color: yellowgreen;
        font-size: 2em;
    }

        .StyleAKTION_V200 .pos30 [class^="icon-"]:hover {
            color: #db002f;
        }

.StyleAKTION_V200 .pos31 {
    float: right;
    width: auto;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 0;
    margin-top: 0.2em;
    margin-left: 2em;
    display: none;
}

.StyleAKTION_V200 .pos32 {
    float: right;
    width: auto;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 0;
    margin-top: 0.2em;
    margin-left: 2em;
    display: none;
}

.StyleAKTION_V200 .pos33 {
    float: right;
    width: auto;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 0;
    margin-top: 0.2em;
    margin-left: 2em;
    display: none;
}

.StyleAKTION_V200 .pos34 {
    float: right;
    width: auto;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 0;
    margin-top: 0.2em;
    margin-left: 2em;
    display: none;
}

.StyleAKTION_V200 .pos50 {
    width: 100%;
    font-weight: normal;
    margin-left: 12em;
    margin-top: 0.2em;
}

    .StyleAKTION_V200 .pos50 .icon-circle {
        color: #666;
        display: none;
    }

.StyleAKTION_V200 .TXTYPAufgabe .pos32 {
    display: none;
}

.StyleAKTION_V200 .pos999 {
    display: none;
    background-color: white;
}

/*--------------------------------------*/
/* MSK_TERMIN_DETAIL                    */
/*--------------------------------------*/
.Layout.MSK_TERMIN_DETAIL .Gruppe.AppDetailGroup.Termin {
    width: 49.5%;
    border-right: 10px solid #f4f4f4;
}

.Layout.MSK_TERMIN_DETAIL .Gruppe.AppDetailGroup.Zusatzangaben {
    width: 49.5%;
    float: right;
}

.Layout.MSK_TERMIN_DETAIL .Gruppe.GruppeOben {
    width: 100%;
    background-color: white;
    padding-top: 0.5em;
}

.Layout.MSK_TERMIN_DETAIL .Gruppe.GruppeUnten {
    width: 100%;
    margin-top: 1em;
}

.Layout.MSK_TERMIN_DETAIL .Gruppe.GruppeAktionRechts {
    width: 100%;
}

    .Layout.MSK_TERMIN_DETAIL .Gruppe.GruppeAktionRechts .TOOLBARBUTTON {
        width: 49%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 1em;
    }

.Layout.MSK_TERMIN_DETAIL .Textboxcontainer.CON3TXNR {
    width: calc(100% - 3em);
    margin-right: 0;
}

.Layout.MSK_TERMIN_DETAIL .Textboxcontainer.PJKTXNR {
    width: calc(100% - 3em);
    margin-right: 0;
}

.Layout.MSK_TERMIN_DETAIL .TOOLBARBUTTON.ContactInfo, .Layout.MSK_TERMIN_DETAIL .TOOLBARBUTTON.ProjketInfo {
    background-color: transparent;
    color: transparent;
    width: 4em;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
    margin-right: -1em;
}

    .Layout.MSK_TERMIN_DETAIL .TOOLBARBUTTON.ContactInfo [class^="icon-"], .Layout.MSK_TERMIN_DETAIL .TOOLBARBUTTON.ProjektInfo [class^="icon-"] {
        font-size: 1.3em;
        border-radius: 1.3em;
    }



.PROJEKTPOSITION_V200_SUBGRID .cardViewCaption.pos1 {
    width: 30%;
}

.PROJEKTPOSITION_V200_SUBGRID .cardViewCaption.pos2 {
    width: 30%;
}

.PROJEKTPOSITION_V200_SUBGRID .cardViewCaption.pos3 {
    width: auto;
}

.PROJEKTPOSITION_V200_SUBGRID .cardViewCaption.pos4 {
    display: none;
}

.PROJEKTPOSITION_V200_SUBGRID .cardViewCaption.pos10 {
    display: none;
}

.PROJEKTPOSITION_V200_SUBGRID .cardViewCaption.pos20 {
    display: none;
}

.StylePROJEKTPOSITION_V200 .pos1 {
    width: 30%;
    font-weight: bold;
}

.StylePROJEKTPOSITION_V200 .pos2 {
    width: 30%;
}

.StylePROJEKTPOSITION_V200 .pos3 {
    width: 6em;
}

.StylePROJEKTPOSITION_V200 .pos4 {
    width: 6em;
}

.StylePROJEKTPOSITION_V200 .pos10 {
    width: 30%;
}

.StylePROJEKTPOSITION_V200 .pos20 {
    position: absolute;
    width: auto;
    top: 0.5em;
    right: 0;
}

    .StylePROJEKTPOSITION_V200 .pos20 [class^="icon-"] {
        color: yellowgreen;
        font-size: 2em;
    }


/*--------------------------------------*/
/* MSK_CONTACT_V10  GRID/DETAIL         */
/*--------------------------------------*/
.Layout.CONTACT_V10_SUBGRID .CardGridHeader {
    padding-left: 4em;
}

.StyleCONTACT_V10 .carditem {
    padding-left: 4em;
}

.CONTACT_V10_SUBGRID .cardViewCaption.pos1 {
    display: none;
}

.CONTACT_V10_SUBGRID .cardViewCaption.pos2 {
    width: 40%;
}

.CONTACT_V10_SUBGRID .cardViewCaption.pos3 {
    width: 12%;
}

.CONTACT_V10_SUBGRID .cardViewCaption.pos4 {
    width: 12%;
}

.CONTACT_V10_SUBGRID .cardViewCaption.pos5 {
    width: 9em;
}

.CONTACT_V10_SUBGRID .cardViewCaption.pos6 {
    width: 9em;
}

.CONTACT_V10_SUBGRID .cardViewCaption.pos7 {
    display: none;
}

.CONTACT_V10_SUBGRID .cardViewCaption.pos8 {
    display: none;
}

.StyleCONTACT_V10 .pos3 {
    width: 3em;
    height: 3em;
    margin-left: -4em;
    display: none;
}

.StyleCONTACT_V10 .pos0 {
    width: 40%;
    font-weight: bold
}

.StyleCONTACT_V10 .pos2 {
    width: 12%;
}

.StyleCONTACT_V10 .pos4 {
    width: 12%;
}

.StyleCONTACT_V10 .pos5 {
    width: 9em;
}

.StyleCONTACT_V10 .pos6 {
    width: 9em;
}

.StyleCONTACT_V10 .pos1 {
    float: right;
    width: auto;
    font-size: 1.8em;
    font-weight: bold;
}

.StyleCONTACT_V10 .pos7 {
    width: 90%;
}

.Gruppe.AppDetailGroup.Bild {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
}

    .Gruppe.AppDetailGroup.Bild img {
        width: 15vw;
        height: auto;
        max-height: 15em;
    }

.RELATION_V03_SUBGRID .cardViewCaption.pos1 {
    display: none;
}

.RELATION_V03_SUBGRID .cardViewCaption.pos2 {
    width: 20%;
    margin-left: 3.5em;
}

.RELATION_V03_SUBGRID .cardViewCaption.pos3 {
    width: 15%;
}

.RELATION_V03_SUBGRID .cardViewCaption.pos4 {
    width: 15%;
}

.RELATION_V03_SUBGRID .cardViewCaption.pos5 {
    width: 15%;
}

.RELATION_V03_SUBGRID .cardViewCaption.pos6 {
    width: 15%;
    float: right;
}

    .RELATION_V03_SUBGRID .cardViewCaption.pos6 .cardViewCaptionContent {
        float: right;
    }

.StyleRELATION_V03 .pos1 {
    width: 3em;
    height: 3em;
    margin-right: 0.5em;
}

.StyleRELATION_V03 .pos2 {
    width: 20%;
    font-weight: bold;
}

.StyleRELATION_V03 .pos3 {
    width: 15%;
}

.StyleRELATION_V03 .pos4 {
    width: 15%;
}

.StyleRELATION_V03 .pos5 {
    width: 15%;
}

.StyleRELATION_V03 .pos6 {
    float: right;
    width: auto;
}

.StyleTELEKOMMUNIKATION_V01 .pos1 {
    padding: 0 1em;
    margin-right: 5px;
    float: left;
}

.StyleTELEKOMMUNIKATION_V01 .pos2 {
    width: 20%;
    font-weight: bold;
}

.StyleTELEKOMMUNIKATION_V01 .pos3 {
    
    width: 40%;
}

.ADRESSE_V01_SUBGRID .cardViewCaption.pos1 {
    width: 50%;
}

.ADRESSE_V01_SUBGRID .cardViewCaption.pos2 {
    width: 20%;
}

.ADRESSE_V01_SUBGRID .cardViewCaption.pos3 {
    width: 15%;
    float: right;
}

    .ADRESSE_V01_SUBGRID .cardViewCaption.pos3 .cardViewCaptionContent {
        float: right;
    }

.StyleADRESSE_V01 .pos2 {
    width: 50%;
    font-weight: bold;
}

.StyleADRESSE_V01 .pos1 {
    width: 20%;
}

.StyleADRESSE_V01 .pos3 {
    float: right;
    width: auto;
}

.StyleISTOPP_V10 .pos1 {
    width: 30%;
    font-weight: bold;
}

.StyleISTOPP_V10 .pos2 {
    width: 10em;
    text-align: right;
}

.StyleISTOPP_V10 .pos3 {
    width: 5em;
}

.StyleISTOPP_V10 .pos4 {
    width: auto;
    float: right;
    font-weight: bold;
}
.loadmore {
    margin-top: 10px;
}

.editDelete {
    background: #F89406;
    padding: 0.5em;
    display: inline-block;
    height: 100%;
    color: white;
}

.panel {
    position: absolute;
    left: 0;
}

.datarowDelete {
    color: white;
    background: #BD362F;
    display: inline-block;
    padding: 0.5em;
}

.lastCell {
    font-family: Raleway,sans-serif;
    color: white;
    margin: auto;
    margin-top: -0.4em;
    position: absolute;
    right: -10em;
}

input {
    pointer-events: none;
    opacity: 0.7;
}

.panel.editmodus input {
    pointer-events: visible;
    opacity: 1;
}

/* Placeholder code for modals*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}


.panel.editmodus .Textbox.MC input {
    pointer-events: none;
    background-image: url(/images/Forward-50.png);
    margin-top: -0.2em;
    background-size: 1.2em;
    background-repeat: no-repeat;
    background-position: right;
}

.panel .Textbox.MC input {
    pointer-events: none;
}