/*------------------------------------------------------*/
/* Farben                                               */
/*------------------------------------------------------*/

/* Theme dark */
.style_dark { 
    $background: #6D676E;
    $header: #161616;
    $headline: #F8F1FF;
    $warning: #ED174B;
    $column: #F8F1FF;
    $upper_high: #83d0f2;
    $footer: #161616;
    $input: #F8F1FF;
    $button: #F8F1FF;
    $lower_high: #83d0f2;
    
    @import 'coloring';
}

.style_light { 
    $background: #f4f4f4;
    $header: #009EDF;
    $footer: #ebf1f4;
    $column: #A5A580;
    $background: #6D676E;
    $headline: #F8F1FF;
    $warning: #ED174B;
    $column: #F8F1FF;
    $upper_high: #83d0f2;
    $input: #db002f;
    $button: #db002f;
    $lower_high: #83d0f2;

    @import 'coloring';
}