/*------------------------------------------------------*/
/* Farben                                               */
/*------------------------------------------------------*/

/* Theme dark */
.style_dark { 
    $background: #6D676E;
    $header: #161616;
    $headline: #F8F1FF;
    $nav-collapse: #372F38;
    $warning: #ED174B;
    $column: #F8F1FF;
    $upper_high: #83d0f2;
    $footer: #161616;
    $input: #F8F1FF;
    $button: #F8F1FF;
    $lower_high: #83d0f2;
    
    @import 'coloring';
}

.style_light { 
    $background: #bbb;
    $header: #161616;
    $headline: #F8F1FF;
    $nav-collapse: #372F38;
    $warning: #ED174B;
    $column: #F8F1FF;
    $upper_high: #83d0f2;
    $footer: #161616;
    $input: #F8F1FF;
    $button: #F8F1FF;
    $lower_high: #83d0f2;

    @import 'coloring';
}