body {background-color: $background;}
header { background-color: $header;
    h1 { color: $headline; } 
}
.navCollapse {background-color: $nav-collapse;
    li {color: $headline}}
.upper { background-color: $background; 
    .columnContainer { background-color: $column; }
    .ORDER_DISPLAY, .ORDER, .NOTICE { color: $warning; }
}
.selectTools {background-color: $column;}
.row {background-color: $column;}
.row.selected { background-color: $upper_high }
.lower { background-color: $footer; 
    .columnContainer { background-color: transparent }
    .LABEL_EDITZONE, .ORDER_DISPLAY, .ORDER, .NOTICE, .NAME { color: $lower_high; }
    .VARIABLE_ABC, .VARIABLE_123 { color: $input; }
}
input { background-color: $input; font-weight: bold }
.inputContainer  { background-color: $input;
    select {background-color: $lower_high;}
}
.buttonContainer { background-color:$footer; }
.button { background-color: $button; }
    .button:active { background-color: $warning; }
.configPanel {background-color: $footer;
    label {color: $lower_high;}
    select, option {background-color: $input; font-weight: bold}
}